<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Never Troll</title>

    <!-- Bootstrap -->
    <link href="stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="stylesheets/style.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container">
      <div class="row">
        <center>
          <img src="images/TopBanner.png" width="960"/>
        </center>
      </div>
      <div class="row">
        <center>
          <img src="images/Function1.png" width="960"/>
        </center>
      </div>
      <div class="row col-xs-10" style="float: none; margin: 0 auto;">
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1"><b>f</b></span>
          <input type="text" class="form-control" placeholder="https://www.facebook.com/lerryrowy" aria-describedby="basic-addon1">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button" id="btn_troll">Troll!</button>
          </span>
        </div>
      </div>

      <div class="row" style="margin-top: 30px;">
        <center>
          <svg width="960" height="500"></svg>
        </center>
      </div>
    </div>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="javascripts/bootstrap.min.js"></script>
    <script src="https://d3js.org/d3.v4.min.js"></script>

    <script type="text/javascript">
      $('#btn_troll').click(function() {

        $(this).html("loading...");
        if (self.fetch) {
          var options = {
            method: 'GET'
          }
          fetch('/analyze', options)
          .then(function(response) {
            response.json().then(function (json) {
              alert(JSON.stringify(json));
              $(this).html("Done!");
            }).bind(this);
          })
        }
      })
    </script>
    <style>

    .bar {
      fill: #333;
    }

    .bar:hover {
      fill: #fff;
    }

    .axis--x path {
      display: none;
    }

    </style>
    <!-- <script src="https://d3js.org/d3.v4.min.js"></script> -->
    <script>

    var svg = d3.select("svg"),
        margin = {top: 20, right: 20, bottom: 30, left: 40},
        width = +svg.attr("width") - margin.left - margin.right,
        height = +svg.attr("height") - margin.top - margin.bottom;

    var x = d3.scaleBand().rangeRound([0, width]).padding(0.1),
        y = d3.scaleLinear().rangeRound([height, 0]);

    var g = svg.append("g")
        .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

    d3.tsv("data.tsv", function(d) {
      d.frequency = +d.frequency;
      return d;
    }, function(error, data) {
      if (error) throw error;

      x.domain(data.map(function(d) { return d.letter; }));
      y.domain([0, d3.max(data, function(d) { return d.frequency; })]);

      g.append("g")
          .attr("class", "axis axis--x")
          .attr("transform", "translate(0," + height + ")")
          .call(d3.axisBottom(x));

      g.append("g")
          .attr("class", "axis axis--y")
          .call(d3.axisLeft(y).ticks(10, "%"))
        .append("text")
          .attr("transform", "rotate(-90)")
          .attr("y", 6)
          .attr("dy", "0.71em")
          .attr("text-anchor", "end")
          .text("Frequency");

      g.selectAll(".bar")
        .data(data)
        .enter().append("rect")
          .attr("class", "bar")
          .attr("x", function(d) { return x(d.letter); })
          .attr("y", function(d) { return y(d.frequency); })
          .attr("width", x.bandwidth())
          .attr("height", function(d) { return height - y(d.frequency); });
    });

    </script>
  </body>
</html>
